.carrousel{
    
    width: 600px;
    margin-bottom: 50px;
}

.carrousel__img{
    height: 300px;
}

@media only screen and  (max-width:600px) {
    
.carrousel__img{
    max-width: 100vh !important;
    width: 100vw;
}
}